<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        有顺序要求
        properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?
    -->
    <settings>
        <!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 使用列别名替换列名 默认:true -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 开启驼峰命名转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeHandlers>
        <typeHandler handler="com.huadong.spoon.mybatis.typehandler.CalendarTypeHandler"
                     javaType="java.util.Calendar" jdbcType="TIMESTAMP"/>
    </typeHandlers>

    <!--
        mybatis拦截器的执行顺序的从下往上，
        所以排序都是先执行的，FlowPageInterceptor和PageInterceptor是分开执行的，一般来说两者只能执行一个
        使用方法
        OrderHelper.startOrder()
        FlowPageHelper.startFlowPage()
        PageHelper.startPage
     -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
        <plugin interceptor="com.huadong.spoon.mybatis.pagehelper.FlowPageInterceptor"></plugin>
        <plugin interceptor="com.huadong.spoon.mybatis.orderhelper.OrderInterceptor"></plugin>
    </plugins>

</configuration>